/**
  This is used to style our demo app only.
  These styles are not included in the distribution.
**/

.App-header {
  @apply flex items-center justify-center;
  @apply bg-slate-900 text-slate-100;
  @apply text-base;
  @apply h-16;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
